.button-red {
  background-color: red;
  border-color: red;
}
.button-red.button-outline {
  color: red;
}
.button-red.button-clear {
  color: red;
}

.button-green {
  background-color: green;
  border-color: green;
}
.button-green.button-outline {
  color: green;
}
.button-green.button-clear {
  color: green;
}

.button-yellow {
  background-color: #D4A017;
  border-color: #D4A017;
}
.button-yellow.button-outline {
  color: #D4A017;
}
.button-yellow.button-clear {
  color: #D4A017;
}
